<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="no-js">
  <head>
    <meta charset="utf-8">
    {%- if settings.favicon != blank -%}<link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">{%- endif -%}
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">

    {%- render 'css-variables' -%}

    {%- unless settings.type_primary_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {%- endunless -%}

    {{ 'base.css' | asset_url | append: '?v=999' | stylesheet_tag: preload: true }}

    {%- render 'meta-tags' -%}

    {{ content_for_header }}
  </head>

  <body class="template-{{ template.name | handle }}">
    {%- sections 'header-group' -%}

    {% section 'cart-drawer' %}
    {% section 'newsletter-modal' %}

    <main id="main-content" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {%- sections 'footer-group' -%}

    <script src="{{ 'global.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'cart-drawer.js' | asset_url }}" defer></script>
  </body>
</html>
